# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.prof

pam4
main
cms_seed
migrate
pamcli

main.prof

tmp
tmp/*

vendor
.DS_Store
.vscode

glide.lock
\.idea/

migrate.lock

dockers
dockers/*
!dockers/elasticsearch
dockers/elasticsearch/*
!dockers/elasticsearch/elasticsearch.yml

!dockers/kibana
dockers/kibana/*
!dockers/kibana/kibana.yml

!dockers/kafka
dockers/kafka/*
!dockers/kafka/config

!dockers/kafka-test
dockers/kafka-test/*
!dockers/kafka-test/config

mailer-test
mail.log

*.tmp
*.backup
.env_dev
*.swp

.env_dev